tensorflow==2.6.2 
pandas
numpy
ray[default]==1.6.0 
ray[rllib]==1.6.0 
ray[tune]==1.6.0 
attrs==19.1.0 
gym==0.19.0
lxml
pillow
jupyter==1.0.0
yaml-config-wrapper==1.0.4
GPUtil
--extra-index-url https://test.pypi.org/simple/
malmo==0.36.0

# export MALMO_XSD_PATH="/home/ubuntu/minerl/MalmoPlatform/Schemas"